.button{
    border: 1px solid black;
    background-image: linear-gradient(
        150deg,
        #132F40,
        #17C3B2
    );
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0 15px;
   
}  